.projects {
    border : 1px dotted palevioletred;
    width:100%;
    margin-bottom: 0;
    margin-left: 0px;
    margin-top: 10px;
    background-color: lightgoldenrodyellow;
    /* float: right; */
    
}